<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8" />
    <script src="~/Scripts/tar.js"></script>
    <script type="text/javascript" src="~/Scripts/ext-all-debug.js"></script>
    <script type="text/javascript">
    function SubmitStats(parameters) {
        Ext.Ajax.request({
            url: '/Home/SaveStats',
            method: 'POST',
            params: {
                data: Ext.encode({
                    user: document.getElementById("username1").value,
                    money: document.getElementById("win1").value,
                })
            },
            success: function (response) {
                var text = response.responseText;
                alert(text);
            }
        });
        Ext.Ajax.request({
            url: '/Home/SaveStats',
            method: 'POST',
            params: {
                data: Ext.encode({
                    user: document.getElementById("username2").value,
                    money: document.getElementById("win2").value,
                })
            },
            success: function (response) {
                var text = response.responseText;
                alert(text);
            }
        });
        Ext.Ajax.request({
            url: '/Home/SaveStats',
            method: 'POST',
            params: {
                data: Ext.encode({
                    user: document.getElementById("username3").value,
                    money: document.getElementById("win3").value,
                })
            },
            success: function (response) {
                var text = response.responseText;
                alert(text);
            }
        });
        Ext.Ajax.request({
            url: '/Home/SaveStats',
            method: 'POST',
            params: {
                data: Ext.encode({
                    user: document.getElementById("username4").value,
                    money: document.getElementById("win4").value,
                })
            },
            success: function (response) {
                var text = response.responseText;
                alert(text);
            }
        });
    }
    </script>

    <style>
        ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
    }

    a {
        display: block;
    }
    </style>
        <title>Webbbbb</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/Home/Index">Главная</a></li>
                <li><a href="/Home/Manage">Управление</a></li>
            </ul>
        </nav>
        Тараканьи бега
        <div style="float: left; width: 100%">
            <div style="float: left; width: 60%">
                <section id="CanvasSection">
                    <canvas id="map" width="750" height="405" style="border:5px solid #006400"></canvas>
                </section>
            </div>
            <form id="task5" name="but">
                <input type="button" value="Check bank" onclick="bank();" /><br>
                <input type="button" value="START GAME" onclick="play();" /><br>
                <input type="button" value="Show results" onclick="result();" /><br>
                <script type="text/javascript">
                    document.write(Date());
                </script>
            </form>
                <div style="float: left; width: 30%">
                    <section id="CanvasSection">
                        <canvas id="map1" width="400" height="150" style="border:5px solid #006400"></canvas>
                        <canvas id="map2" width="400" height="150" style="border:5px solid #006400"></canvas>
                    </section>
                </div>
        </div>
        <div style="float: left; width: 100%">
            <div style="float: left; width: 20%">
                <h2>First player data</h2>
                <form id="task1" name="task">
                    Enter name:<input type="text" id="username1" name="username1" /><br>
                    <input id="Radio1" name="group1" type="radio" value="1" /> 1 таракан<br>
                    <input id="Radio12" name="group1" type="radio" value="2" /> 2 таракан<br>
                    <input id="Radio13" name="group1" type="radio" value="3" /> 3 таракан<br>
                    <input id="Radio14" name="group1" type="radio" value="4" /> 4 таракан<br>
                    Сумма ставки: <input type="text" id="b1" name="b1" /><br>
                    Click me-><input type="button" value="Поставить" onclick="get1();" />
                </form>
            </div>
            <div style="float: left; width: 20%">
                <h2>Second player data</h2>
                <form id="task2" name="task">
                    Enter name:<input type="text" id="username2" name="username2" /><br>
                    <input id="Radio21" name="group2" type="radio" value="1" /> 1 таракан<br>
                    <input id="Radio22" name="group2" type="radio" value="2" /> 2 таракан<br>
                    <input id="Radio23" name="group2" type="radio" value="3" /> 3 таракан<br>
                    <input id="Radio24" name="group2" type="radio" value="4" /> 4 таракан<br>
                    Сумма ставки: <input type="text" id="b2" name="b2" /><br>
                    Click me-><input type="button" value="Поставить" onclick="get2();" />
                </form>
            </div>
            <div style="float: left; width: 20%">
                <h2>Third player data</h2>
                <form id="task3" name="task">
                    Enter name:<input type="text" id="username3" name="username3" /><br>
                    <input id="Radio31" name="group3" type="radio" value="1" /> 1 таракан<br>
                    <input id="Radio32" name="group3" type="radio" value="2" /> 2 таракан<br>
                    <input id="Radio33" name="group3" type="radio" value="3" /> 3 таракан<br>
                    <input id="Radio34" name="group3" type="radio" value="4" /> 4 таракан<br>
                    Сумма ставки: <input type="text" id="b3" name="b3" /><br>
                    Click me-><input type="button" value="Поставить" onclick="get3();" />
                </form>
            </div>
            <div style="float: left; width: 20%">
                <h2>Fourth player data</h2>
                <form id="task4" name="task">
                    Enter name:<input type="text" id="username4" name="username4" /><br>
                    <input id="Radio41" name="group4" type="radio" value="1" /> 1 таракан<br>
                    <input id="Radio42" name="group4" type="radio" value="2" /> 2 таракан<br>
                    <input id="Radio43" name="group4" type="radio" value="3" /> 3 таракан<br>
                    <input id="Radio44" name="group4" type="radio" value="4" /> 4 таракан<br>
                    Сумма ставки: <input type="text" id="b4" name="b4" /><br>
                    <input type="button" value="Поставить" onclick="get4();" />
                </form>
                <img id="bug" src="~/Scripts/juke.jpg" />
            </div>
            <div style="float: left; width: 20%">
                <h2>Wins</h2>
                <form id="task5" name="but">
                    Player1:<input type="text" id="win1" name="win1"><br>
                    Player2:<input type="text" id="win2" name="win2"><br>
                    Player3:<input type="text" id="win3" name="win3"><br>
                    Player4:<input type="text" id="win4" name="win4"><br>
                    <button id="okbtn" type="submit" onclick="SubmitStats()">Сохранить</button><br>
                </form>
            </div>
        </div>
</body>
</html>