<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Тараканы. Чек на выплату.</title>
</head>
<div class="check">
    ***********Чек на выплату выигранных средств***********<br />
    * . . . . . . . . . . . 5036045205 АО "Тараканьи бега" . . . . . . . . . . .*<br />
    * . . . . . . . . . . . . . г.Екатеринбург, ул. Мира 32 . . . . . . . . . . . . . *<br />
    *****************************************************<br />
    РЕГ N:18066 . . . . . . . . . . . . .  . . . . . . . . . . . . . ИНН:5036045205<br />
    *****************************************************<br />
    ИГРОК:   @ViewData["user"]<br />
    ВЫИГРЫШ:  @ViewData["money"] ₽.<br />
    *****************************************************<br />
    @ViewData["date"]
</div>
<br />
<input type="button" value="Печать" onclick="window.print()" style="left: 50%;"/>

