<!DOCTYPE html>
<html>
    <head>
        <title>Панель управления</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="~/Scripts/ext-all-debug.js"></script>
        <link rel="stylesheet" href="~/Content/ext-theme-classic-all.css"/>
        <script type="text/javascript" src="~/Scripts/betApp.js?123"></script>
    </head>
    <body>
        
    </body>
</html>
