.form {

	width: 1124px; 
	height: 140px;
	position: absolute;
}
.buttonIn{
	position: absolute;
	left: 5px;
	top: 80%;
}
.buttonDel{
	position: absolute;
	left: 95px;
	top: 80%;
}
.players{
}
.bugs{
	position: absolute;
	left: 14%;
	top: 0;
}
.pay{
	position: absolute;
	left: 30%;
	top: 0;
}
.goButton {
    position: absolute;
	right: 25px;
	top: 20px;
}
.selectBox{
	position:absolute;
	right: 20%;
	top:0;
}
.selectBox2{
	position:absolute;
	right: 40%;
	top:0;
}